@font-face {
  font-family: Metropolis;
  src: url('assets/fonts/Metropolis/metropolis-regular-webfont.woff')
      format('woff'),
    url('assets/fonts/Metropolis/metropolis-regular-webfont.woff2')
      format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Metropolis;
  src: url('assets/fonts/Metropolis/metropolis-medium-webfont.woff')
      format('woff'),
    url('assets/fonts/Metropolis/metropolis-medium-webfont.woff2')
      format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: Metropolis;
  src: url('assets/fonts/Metropolis/metropolis-semibold-webfont.woff')
      format('woff'),
    url('assets/fonts/Metropolis/metropolis-semibold-webfont.woff2')
      format('woff2');
  font-weight: 600;
}
