////
/// Color
/// @group theme/color
////

// stylelint-disable color-no-hex

///
/// Color data
///
/// Shopify color palette, extended specifically for the styleguide,
/// inspired from the Marketing palette.
///
/// @type map

$sia-green: #1ED660;
$sia-grey: #7f8c8d;

$styleguide-color-data: (
  base: transparent,
  white: #ffffff,
  black: #000000,
  sia-green: $sia-green,
  sky: (lightest: #ffffff, light: #f7f9f9, base: #ecf0f1),
  ink: (lightest: #bfc9ca, light: #95a5a6, base: $sia-grey),
  circle: (base: #ecf0f1, active: $sia-green)
);

///
/// Merge into Threads
@include threads-update-property('color', $styleguide-color-data);
