////
/// Font size
/// @group theme/font-size
////

///
/// Reuseable sizes
// $font-size-thing: 14rem;

///
/// font size data
$styleguide-font-size-data: (
  base: 1.8rem,
  h1: (base: 5.2rem, desktop: 7.2rem),
  h2: (base: 4.2rem, desktop: 5.2rem),
  h3: (base: 4rem, desktop: 4.8rem),
  h4: (base: 4.8rem),
  h5: (base: 4.8rem),
  h6: (base: 3.6rem),
  large-button: 2.4rem,
  nav: 1.6rem
);

///
/// Merge into Threads
@include threads-update-property('font-size', $styleguide-font-size-data);
